@charset "UTF-8";

body {
    background-color: rgb(239, 165, 239);
    font: normal 15pt Arial;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    margin: 10px;
    overflow: hidden;
}

header {
    color: white;
    text-align: center;
}

main {
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.189);
    width: 500px;
    text-align: left;
}


div {
    margin: 10px;
}

input {
    margin: 5px;
    align-items: normal;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}